#input {
    font-size: 24px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    height: 400px;
    resize: vertical;       /* შეგიძლია ზომა შეცვალო შენ თვითონ */
    text-align: left;       /* ჰორიზონტალურად მარცხნიდან */
    vertical-align: top;    /* არამიშავს */
  }
  
  button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #output {
    font-size: 24px;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid #333;
    width: 100%;
    box-sizing: border-box;
    min-height: 80px;
    background-color: #f0f0f0;
    height: 400px;
    overflow-y: auto;
    text-align: left;       /* ტექსტი მარცხნიდან */
  }